.btn1
{
    background-color:white;
    color: black;
}
/* .navbar .navbar-brand > a
{
    color:white;
} */

/* .navbar .navbar-nav > li > a,
.navbar .navbar-nav > .active > a{
    color: orange;
} */

.navbar .navbar-brand {
    color:white;
  }

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color:blue;
    color: white;
}
